@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="tabbable" id="tabs-790407">
            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#panel-378646" data-toggle="tab" contenteditable="false">Cast</a></li>
                <li><a href="#panel-599356" data-toggle="tab" contenteditable="true">Films</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-378646">
                    <div class="carousel slide" id="indexCarousel">

                        <div class="carousel-inner">
                            <ol class="carousel-indicators">
                                <li data-slide-to="0" data-target="#indexCarousel" class="active"></li>
                                <li data-slide-to="1" data-target="#indexCarousel" class=""></li>
                                <li data-slide-to="2" data-target="#indexCarousel" class=""></li>
                                <li data-slide-to="3" data-target="#indexCarousel" class=""></li>
                            </ol>
                            <div class="item active">
                                <img alt="" src="~/Content/kr-2.png" />
                                <div class="carousel-caption">
                                    <h1>King Rollo</h1>
                                    <h2>
                                        King Rollo is the self proclaimed ruler of Rolloland.

                                        Likes:
                                        Ruling over the subjects(being bossy).
                                        Owning lots of gold.
                                        Talking.

                                        Dislikes:
                                    </h2>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="" class="icon-align-center" src="~/Content/qn-1.png" />
                                <div class="carousel-caption">
                                    <h1>Queenie</h1>
                                    <p> </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="" class="icon-align-center" src="~/Content/bc-1.png" />
                                <div class="carousel-caption">
                                    <h1>Baddy Cool</h1>
                                    <p> </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="" class="icon-align-center" src="~/Content/dh-1.png" />
                                <div class="carousel-caption">
                                    <h1>Dessert Horses</h1>
                                    <p> </p>
                                </div>
                            </div>


                        </div>

                        <a class="left carousel-control" href="#indexCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#indexCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

                    </div>

                </div>
                <div class="tab-pane" id="panel-599356">
                    <p contenteditable="true">Howdy, I'm in Section 2.</p>
                </div>
            </div>
        </div>
    </section>
}

